.form__newPaciente {
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form__newPaciente__field {
    margin-bottom: 1.5rem;
    width: 49%;
    &:nth-child(5){
      width: 100%;
    }
}


.form__newPaciente__field .input_text{
  height: 2em;
  width: 100%;
  outline: none;
  padding: 0 15px;
  border-radius: 8px;
  border: 1px solid rgb(185, 185, 185);
  font-size: 1.2rem;
  transition: all 0.3s ease;
  &:focus{
    border-color: $color-info;
  }
  &::placeholder {
    color: rgb(177, 175, 175);
    transition: all 0.3s ease;
  }
  &:focus::placeholder{
    color: rgba(177, 175, 175, 0.5);
  }
  
}

.radio input{
	visibility: hidden;
	position: absolute;
	right: 0;
}
.radio label{
	position: relative;
	padding:5px 0 5px 40px; 
	display: block;
}
.radio label i{
 background: #f0f0f0;
 border:2px solid rgba(0,0,0,0.2);
 position: absolute; 
 left: 0;
 top: 3%;
 height: 25px;
 width: 25px;
 border-radius: 100%;
 
}
.radio label i:before{
	content: '';
	display: block;
	height: 18px;
	width: 18px;
	background: red;
	border-radius: 100%;
	position: absolute;
	z-index: 1;
	top: 2px;
	left: 2px;
	background:#008ee0;
  border: 2px solid rgba(0,0,0,0.2);
	transition: all 0.25s ease; 
	transform: scale();
	opacity: 0;
}
.radio input:checked + label i:before{
	transform: scale(1);
	opacity: 1;
}

.checkbox input{
	visibility: hidden;
	position: absolute;
	right: 0;
}

.checkbox {
  position: relative;
	margin-bottom: 30px;
	padding:5px 0 5px 60px;  
	display: block;
}
.checkbox label i{
  background: #f0f0f0;
  border:2px solid rgba(0,0,0,0.2);
  position: absolute; 
  left: 0;
  top: 0;
  width: 52px;
	height: 30px;
	border-radius: 15px;
  &:before{
      content: ''; 
      width: 26px;
      height: 26px;
      background: #fff;
      border-radius: 50%;
      position: absolute;
      z-index: 1;
      left: 0px;
      top: 0px;
      -webkit-box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
      box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
  }
}
.checkbox input:checked + label i:before{
	left: 22px;
	-webkit-box-shadow: -3px 0 3px 0 rgba(0,0,0,0.2);
	box-shadow: 3px 0 -3px 0 rgba(0,0,0,0.2);
}
 
.checkbox input:checked + label i{
 background: #008ee0;
}

.form__error {
  color: $color-important;
  margin: 0;
  margin-top: 5px;
}


.form__newPaciente_butons {
  display: flex;
  justify-content: space-around;
  width: 100%;

}

.modal__btn__submit {
    border: none;
    background: -webkit-linear-gradient(left, #1d72e2, #0347ad);
    padding: 1rem 0;
    width: 25%;
    border-radius: 10px;
    color: whitesmoke;
    margin-top: 2em;

    &.cancel {
      background: $color-important;
    }
    &.clean {
      background: $color-urgent;
    }

}