
.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: $z-modal;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.modalContainer__modal {
    padding: 3rem;
    background-color: #FFFF;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    & h2 {
        margin-top: 0;
        margin-bottom: 3rem;
        color: $color-text-dark;
    } 
}