

.btn--btnOrder {
    font-size: 1.2rem;
    font-weight: bold;
    border-radius : 1.5rem;
    padding: 0;
    width: 3rem;
    height: 3rem;
    margin-right: .5rem;
    margin-bottom: .5rem;
    transition: all .3s;
    &:hover {
        background-color: $color-info;
        filter: brightness(120%)
    }
}

.isActive {
    background-color: $color-second;
}